* {
  margin: 0px;
  padding: 0px; }

.jumbotron {
  position: relative;
  background-image: url("../img/mecanicien-automobile-examen_1170-1686.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center;
  color: chartreuse;
  border-radius: 0px !important; }

.jumbotron h1 {
  margin: 30px 0; }

.intro {
  margin-top: 18vh;
  padding-top: 5px;
  height: 320px;
  background: rgba(5, 2, 34, 0.4); }

.navbar a {
  color: chartreuse; }

.navbar-nav a {
  margin: 0 20px; }

.navbar-toggler {
  color: chartreuse;
  border: none;
  outline: none; }

.nav-link:hover {
  font-weight: 600;
  border-bottom: 1px solid chartreuse;
  margin-bottom: -1px; }

#covidButton {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: none;
  margin-bottom: 0; }

.modal-content {
  background: rgba(5, 2, 34, 0.8);
  color: chartreuse; }

.row-content {
  margin-top: 25px;
  margin-bottom: 25px; }

body {
  background-color: rgba(254, 233, 112, 0.2); }

#testimonials {
  height: 125px;
  padding-top: 0;
  margin: 0px; }

.footer {
  margin-top: 5px;
  padding: 10px;
  background-color: #dae8ec; }

#aboutNav {
  background-color: darkblue; }

.aboutus-area {
  padding-top: 120px;
  padding-bottom: 120px; }

/*-- aboutus Image --*/
.aboutus-image {
  margin-right: 52px;
  width: 318px; }

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .aboutus-image {
    margin-right: 35px;
    width: 345px; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .aboutus-image {
    margin-bottom: 30px;
    float: none; } }

@media only screen and (max-width: 767px) {
  .aboutus-image {
    margin-bottom: 30px;
    margin-right: 0;
    float: none;
    width: auto; } }

.aboutus-image img {
  width: 100%; }

/*-- aboutus Content --*/
.aboutus-content h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 40px;
  margin-bottom: 2px; }

@media only screen and (max-width: 479px) {
  .aboutus-content h1 {
    color: #07079b;
    font-size: 30px;
    line-height: 30px; } }

.aboutus-content h1 span {
  color: chartreuse; }

.aboutus-content h4 {
  font-size: 18px;
  font-weight: 500;
  color: #9b9b9b;
  margin-bottom: 23px; }

.aboutus-content p {
  font-size: 16px;
  line-height: 27px; }

/* .jumbotron {
  position: relative;
  background:none;
}
.jumbotron:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(https://placebear.com/g/900/300);
    background-repeat: no-repeat;
    background-position: center;
  background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}
 */
